#hambuger-button{
	display: none;
	cursor: pointer;
	background: none;
	border: none;
	font-size: 85px;
	padding: 0;
	vertical-align: top;
	color: black;
	line-height: 47px;
	float: right;
	margin-right: 30px;
	margin-top: -100px;
}
#hambuger-overlay{
	display: none;
	position: fixed;
	z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    
}
#hambuger-sidebar{
	display: none;
	position: fixed;
	width: 100%;
	z-index: 20;
	height: 100%;
	top:101px;
	left: 0;
	background-color:#22427C;
	transform: translateX(-100%);
	transition: transform .3s ease-out;
}


@media screen and (max-width: 1200px){
	header h2 {
	}
	h1 img{
		width: 90px;
		height: 90px;
	}
	  
	  header h1{
	margin-top: 5px;
	vertical-align: top;
	margin-left: 30px;
}
	header{
	position: fixed;
	background-color: white;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid;
	border-color: rgb(211, 211, 211);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	top:0;
	z-index: 1;
}
a{
	text-decoration: none;
}
    li{
	list-style-type: none;
}

header h1{display:inline-block;}
header h2{display:inline-block;font-size:16px;}
header h2{
	margin-top: 20px;
}
.mnu{
	font-family: arial;
	font-size: 28px;
	font-weight: bold;
}
.mnu a{
	color: #fff;
}
.submenu{
	font-family: arial;
	font-size: 25px;
}
ul li{
	border-top: 1px solid grey;
	padding: 15px;
}
a span{
	float: right;
}
.submenu{
	display: none;
}

#hambuger, #hambuger-content{
	display: inline;
}

	#hambuger-content{
		display: none;
	}
	#hambuger-button, #hambuger-sidebar,
	 .hambuger-activated #hambuger-overlay{
		display: block;
	}
	.hambuger-activated #hambuger-sidebar{
		transform: translateX(0);
	}
}