body{ 
	font-family: arial;
	margin:0;
	padding: 0;
}
header{
	position: fixed;
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 83px;
	top:0;
	border-bottom: 2px solid;
	border-color: rgb(211, 211, 211);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 1;
}
/* -------Styles généraux ---------*/
#conteneur{
	z-index: 2;
	width:1200px;
	height: 980px;
	margin:auto;	
}
.annuleFloat{clear:both;}

/* -------Styles header ---------*/
header h1{
	margin-top: 5px;
	vertical-align: top;
	margin-left: 30px;
}
header h1{display:inline-block;}
header h2{display:inline-block;font-size:14px;}

#droite{
	float: right;
	margin-right: 30px;
}
#gauche{
	font-weight: bold;
	margin-left: 30px;
}
#nousecrire{
	margin-left: 100px;
	width: 200px;
}
#ecrire{
	margin: auto;
	border:1px solid white;
	border-radius: 10px;
	margin-top: 90px;
	text-align: center;
	font-size: 18px;
	width: 120px;
}
#ecrire:hover{
	background-color:#0093c9; 
}
.lien2{
	text-decoration: none;
}

.contact{
	width: 100%;
	height: 250px;
	background-color:#677179; 
}
.information{
	margin: auto;
	width: 1200px;
	height: 250px;
}
.contactinfo{
	margin: auto;
	top: 15px;
	position: relative;
	width: auto;
	height: 230px;
	float: left;
}
.contactinfo p{
	font-family: arial;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.titrecontact{
	text-decoration-style: none;
	font-size: 22px;
	font-family: arial;
	color: white;
}
.contactinfo img{
	margin-top: 30px;
	vertical-align: top;
}
.contactinfo img{display:inline-block;}
.contactinfo h2{
	color: white;
	line-height: 18px;
	margin-top: 30px;
	display:inline-block;
	font-size:17px;
	font-weight: bold;
}
.contgauche{
	height: 200px;
	position: relative;
	float: left;
}

section footer{
	font-style:italic;
	background: transparent;
}
footer{
	font-weight: bold;
	font-family: arial;
	text-align: center;
	height: 25px;
	background-color: black;
	color:#555;
	padding:7px 0;
	font-size: 16px;
}

.ombre{box-shadow: 0 0 10px #999;
}
